#home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    background-color: black;
}

#home-header h1 {
    color: var(--lumo-primary-color);
    font-size: 4rem;
    text-align: center;
}

.home-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.home-menu-category {
    text-align: center;
}

.home-menu-button {
    font-size: 1.2rem;
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
    border: 3px solid var(--lumo-primary-color);
    display: block;
    margin: var(--lumo-space-m);
    padding: 4rem;
}

.home-menu-button:hover {
    color: var(--lumo-primary-color);
    background-color: var(--lumo-primary-contrast-color);
    cursor: pointer;
}

.home-menu-button vaadin-icon {
    font-size: 1.5rem;
}