#error-view a.button {
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
    font-weight: bold;
    border: 1px solid var(--lumo-primary-color);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    cursor: pointer;
    text-decoration: none;
}

#error-view a.button:hover {
    color: var(--lumo-body-text-color);
    background-color: var(--lumo-base-color);
}