.login-view .login-button {
    width: 100%;
    padding: 1.5rem 2rem;
    cursor: pointer;
}

.login-view .login-button.discord {
    background-color: #5865f2;
}

.login-view .login-button.discord > a {
    color: white;
    text-decoration: none;
}

.login-view .login-button.user {
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
}