vaadin-combo-box-item.GT2 {
    background-color: var(--car-group-gt2-color);
}

vaadin-multi-select-combo-box-item.GT2 {
    background-color: var(--car-group-gt2-color);
}

vaadin-combo-box-item.GT3 {
    background-color: var(--car-group-gt3-color);
}

vaadin-multi-select-combo-box-item.GT3 {
    background-color: var(--car-group-gt3-color);
}

vaadin-combo-box-item.GT4 {
    background-color: var(--car-group-gt4-color);
}

vaadin-multi-select-combo-box-item.GT4 {
    background-color: var(--car-group-gt4-color);
}

vaadin-combo-box-item.GTC {
    background-color: var(--car-group-gtc-color);
}

vaadin-multi-select-combo-box-item.GTC {
    background-color: var(--car-group-gtc-color);
}

vaadin-combo-box-item.TCX {
    background-color: var(--car-group-tcx-color);
}

vaadin-multi-select-combo-box-item.TCX {
    background-color: var(--car-group-tcx-color);
}