services:
  app:
    image: registry.gitlab.com/sustineo/simdesk:2.5.10
    volumes:
      - ./data:/app/data
      - ./results:/app/results
    environment:
      SPRING_PROFILES_ACTIVE: acc-leaderboard, acc-entrylist, acc-bop, discord, logzio
      SIMDESK_IMPRESSUM_URL: https://markracing.de/impressum
      SIMDESK_PRIVACY_URL: https://markracing.de/privacy
      SIMDESK_COMMUNITY_NAME: Sim2Real
      SIMDESK_ACC_RESULTS_IGNORE_PATTERNS: "(No leaderboard)+"
      SIMDESK_DISCORD_CLIENT_ID: ${SIMDESK_DISCORD_CLIENT_ID}
      SIMDESK_DISCORD_CLIENT_SECRET: ${SIMDESK_DISCORD_CLIENT_SECRET}
      SIMDESK_DISCORD_BOT_TOKEN: ${SIMDESK_DISCORD_BOT_TOKEN}
      SIMDESK_DISCORD_GUILD_ID: ${SIMDESK_DISCORD_GUILD_ID}
      SIMDESK_LOGZIO_TOKEN: ${SIMDESK_LOGZIO_TOKEN}
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.simdesk.rule=Host(`sim2real.simdesk.eu`)"
      - "traefik.http.routers.simdesk.entrypoints=websecure"
      - "traefik.http.routers.simdesk.tls.certresolver=myresolver"
    networks:
      - traefik_proxy
    restart: unless-stopped

networks:
  traefik_proxy:
    external: true
