# Site configuration
site_name: SimDesk
site_url: https://docs.simdesk.eu
site_description: Sim Racing Management Tools
site_author: Fabian Eulitz
repo_name: fabieu/simdesk
repo_url: https://github.com/fabieu/simdesk
edit_uri: edit/main/docs

# Navigation configuration
nav:
  - Home: index.md
  - Configuration:
      - Overview: config/overview.md
      - Persistence: config/persistence.md
      - Authentication: config/auth.md
      - Themes: config/themes.md
      - Features:
          - Leaderboard: config/acc-leaderboard.md
          - Entrylist: config/acc-entrylist.md
          - Balance of Performance: config/acc-bop.md
          - Map: config/map.md
          - Discord Integration: config/discord.md
  - REST API: api/rest-api.md
  - Contributing: contributing.md
  - Credits: credits.md

# Theme configuration
theme:
  name: material
  language: en
  favicon: img/favicon.ico
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: black

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: white
  features:
    - search.suggest
    - search.highlight
    - search.share
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.expand
    - navigation.tracking
    - navigation.top
    - toc.follow
  icon:
    repo: fontawesome/brands/github
    logo: material/car

# Plugin configuration
plugins:
  - search:
      lang: en
  - social:
      enabled: !ENV [ CI, false ]
  - include-markdown:

# Footer configuration
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fabieu
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/fabieu
    - icon: fontawesome/brands/discord
      link: https://discordapp.com/users/199177472535822337
  generator: false

copyright: Copyright &copy; 2022-2024 Fabian Eulitz
