spring:
  application:
    name: simdesk
  profiles:
    active: acc-entrylist, acc-bop
  main:
    banner-mode: off
  flyway:
    enabled: true
  task:
    scheduling:
      pool:
        size: 4
  jackson:
    default-property-inclusion: NON_NULL
    deserialization:
      fail-on-unknown-properties: false
      read-unknown-enum-values-as-null: true
      read-date-timestamps-as-nanoseconds: false
    serialization:
      fail-on-empty-beans: false
      write-dates-as-timestamps: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
management:
  endpoints:
    access:
      default: none
    web:
      exposure:
        include: "info,health,prometheus"
  endpoint:
    health:
      access: read_only
    info:
      access: read_only
    prometheus:
      access: read_only
logging:
  level:
    root: INFO
vaadin:
  productionMode: true
  heartbeatInterval: 60
  closeIdleSessions: true
  react:
    enable: false
  exclude-urls:
    - /api/**
    - /swagger-ui/**
    - /openapi/**
simdesk:
  datasource:
    vendor: ${SIMDESK_DB_TYPE:sqlite}
    url: ${SIMDESK_DB_URL:#{null}}
    username: ${SIMDESK_DB_USERNAME:#{null}}
    password: ${SIMDESK_DB_PASSWORD:#{null}}
  theme: ${SIMDESK_THEME:#{null}}
  community:
    name: ${SIMDESK_COMMUNITY_NAME:#{null}}
  links:
    impressum: ${SIMDESK_IMPRESSUM_URL:}
    privacy: ${SIMDESK_PRIVACY_URL:}
  results:
    folders: ${SIMDESK_ACC_RESULTS_FOLDERS:}
    scan-interval: ${SIMDESK_ACC_RESULTS_SCAN_INTERVAL:PT1M}
    exclude-pattern: ${SIMDESK_ACC_RESULTS_EXCLUDE_PATTERN:}
  openweathermap:
    api-key: ${SIMDESK_OPENWEATHERMAP_API_KEY:#{null}}
  auth:
    admin:
      username: ${SIMDESK_ADMIN_USERNAME:admin}
      password: ${SIMDESK_ADMIN_PASSWORD:#{null}}
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    path: /swagger-ui
  api-docs:
    path: /openapi
  paths-to-match:
    - /api/**
server:
  forward-headers-strategy: framework
  shutdown: graceful

---
spring:
  config:
    activate:
      on-profile: "development"
logging:
  level:
    #org.springframework.cache: TRACE
    de.sustineo.simdesk: DEBUG
    de.sustineo.simdesk.entities.mapper: INFO
management:
  endpoints:
    access:
      default: unrestricted
vaadin:
  productionMode: false
  heartbeatInterval: 60
  closeIdleSessions: false

---
spring:
  config:
    activate:
      on-profile: "discord"
  security:
    oauth2:
      client:
        registration:
          discord:
            client-id: ${SIMDESK_DISCORD_CLIENT_ID}
            client-secret: ${SIMDESK_DISCORD_CLIENT_SECRET}
            clientAuthenticationMethod: client_secret_post
            authorizationGrantType: authorization_code
            scope:
              - identify
              - guilds.members.read
            redirectUri: "{baseUrl}/login/oauth2/code/discord"
        provider:
          discord:
            authorizationUri: https://discordapp.com/api/oauth2/authorize
            tokenUri: https://discordapp.com/api/oauth2/token
            userInfoUri: https://discordapp.com/api/users/@me
            user-name-attribute: username
simdesk:
  auth:
    discord:
      guild-id: ${SIMDESK_DISCORD_GUILD_ID}

