spring:
  profiles:
    active: acc-entrylist, acc-bop
  application:
    name: simdesk
  jackson:
    default-property-inclusion: NON_NULL
    deserialization:
      fail-on-unknown-properties: false
  datasource:
    url: jdbc:sqlite:./data/simdesk-db.db
    driver-class-name: org.sqlite.JDBC
    hikari:
      connection-init-sql: PRAGMA journal_mode = wal; PRAGMA synchronous = normal; PRAGMA temp_store = memory; PRAGMA busy_timeout = 300000
      connection-test-query: SELECT 1
  flyway:
    enabled: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  main:
    banner-mode: off
  task:
    scheduling:
      pool:
        size: 4
management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: "info,health,prometheus"
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
    prometheus:
      enabled: true
logging:
  level:
    root: INFO
vaadin:
  productionMode: true
  heartbeatInterval: 60
  closeIdleSessions: true
  exclude-urls:
    - /api/**
    - /swagger-ui/**
    - /openapi/**
simdesk:
  community:
    name: ${SIMDESK_COMMUNITY_NAME:#{null}}
  links:
    impressum: ${SIMDESK_IMPRESSUM_URL:}
    privacy: ${SIMDESK_PRIVACY_URL:}
  results:
    folders: ${SIMDESK_ACC_RESULTS_FOLDERS:}
    scan-interval: ${SIMDESK_ACC_RESULTS_SCAN_INTERVAL:PT1M}
    ignore-patterns: ${SIMDESK_ACC_RESULTS_IGNORE_PATTERNS:}
  auth:
    admin:
      username: ${SIMDESK_ADMIN_USERNAME:admin}
      password: ${SIMDESK_ADMIN_PASSWORD:#{null}}
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    path: /swagger-ui
  api-docs:
    path: /openapi
  paths-to-match:
    - /api/**
server:
  forward-headers-strategy: framework
  shutdown: graceful

---
spring:
  config:
    activate:
      on-profile: "development"
logging:
  level:
    de.sustineo.simdesk: DEBUG
    de.sustineo.simdesk.entities.mapper: INFO
vaadin:
  productionMode: false
  heartbeatInterval: 60
  closeIdleSessions: false

---
spring:
  config:
    activate:
      on-profile: "discord"
  security:
    oauth2:
      client:
        registration:
          discord:
            client-id: ${SIMDESK_DISCORD_CLIENT_ID}
            client-secret: ${SIMDESK_DISCORD_CLIENT_SECRET}
            clientAuthenticationMethod: client_secret_post
            authorizationGrantType: authorization_code
            scope:
              - identify
            redirectUri: "{baseUrl}/login/oauth2/code/discord"
        provider:
          discord:
            authorizationUri: https://discordapp.com/api/oauth2/authorize
            tokenUri: https://discordapp.com/api/oauth2/token
            userInfoUri: https://discordapp.com/api/users/@me
            user-name-attribute: username
simdesk:
  auth:
    discord:
      token: ${SIMDESK_DISCORD_BOT_TOKEN}
      guild-id: ${SIMDESK_DISCORD_GUILD_ID}

