/* Import your application global css files here or add the styles directly to this file */
@import "component-styles/grid.css";
@import "views/home.css";

html {
    --acc-color-gt3: rgb(255, 255, 255);
    --acc-color-gt4: rgb(38, 38, 96);
    --acc-color-gtc: rgb(245, 126, 0);
    --acc-color-tcx: rgb(0, 124, 168);
    --weather-sunny-color: #ffb600;
    --weather-rainy-color: #00aeff;
}