html {
    /* Weather */
    --weather-sunny-color: #ffb600;
    --weather-rainy-color: #00aeff;

    /* Driver Category */
    --driver-category-bronze-color: #cd7f32;
    --driver-category-silver-color: #c0c0c0;
    --driver-category-gold-color: #ffd700;
    --driver-category-platinum-color: #121212;

    /* Car Group */
    --car-group-gt2-color: rgba(255, 49, 0, 0.2);
    --car-group-gt3-color: var(--lumo-contrast-5pct);
    --car-group-gt4-color: rgba(38, 38, 96, 0.2);
    --car-group-gtc-color: rgba(245, 126, 0, 0.2);
    --car-group-tcx-color: rgba(0, 124, 168, 0.2);
}

body[theme] {
    --lumo-primary-text-color: var(--lumo-primary-color);
}

body[theme~="dark"] {
    --lumo-base-color: rgb(26, 26, 26);
    --lumo-contrast-color: rgb(255, 255, 255);
}

/* ThemeVariant: DEFAULT */
body[theme~="default"] {
}

/* ThemeVariant: SIM2REAL */
body[theme~="sim2real"] {
    --lumo-primary-color: rgb(250, 202, 48);
    --lumo-primary-color-10pct: rgba(224, 173, 6, 0.2);
    --lumo-primary-color-50pct: rgba(250, 205, 56, 0.59);
    --lumo-primary-contrast-color: rgb(26, 26, 26);
}

/* ThemeVariant: BLACK_AND_WHITE */
body[theme~="black_and_white"] {
    --lumo-primary-color: rgb(255, 255, 255);
    --lumo-primary-color-10pct: rgba(255, 255, 255, 0.1);
    --lumo-primary-color-50pct: rgba(255, 255, 255, 0.5);
    --lumo-primary-contrast-color: rgb(26, 26, 26);
    --lumo-primary-text-color: var(--lumo-contrast);
}

/* ThemeVariant: MODERN_GREEN */
body[theme~="modern_green"] {
    --lumo-primary-color: rgb(67, 170, 139);
    --lumo-primary-color-10pct: rgba(67, 170, 139, 0.2);
    --lumo-primary-color-50pct: rgba(67, 170, 139, 0.5);
    --lumo-primary-contrast-color: rgb(26, 26, 26);
}

/* ThemeVariant: RACING_RED */
body[theme~="racing_red"] {
    --lumo-primary-color: rgb(214, 40, 40);
    --lumo-primary-color-10pct: rgba(214, 40, 40, 0.2);
    --lumo-primary-color-50pct: rgba(214, 40, 40, 0.5);
    --lumo-primary-contrast-color: rgb(26, 26, 26);
}