#home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    background-color: var(--lumo-primary-contrast-color);
}

#home-header h1 {
    color: var(--lumo-primary-color);
    font-size: 4em;
    text-align: center;
}

#home-tabs vaadin-tab {
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
    border: 1px solid var(--lumo-primary-color);
}

#home-tabs vaadin-tab:hover {
    color: var(--lumo-body-text-color);
    background-color: var(--lumo-base-color);
}

#home-stats .stats-box {
    border: 2px solid var(--lumo-primary-color);
    margin: var(--lumo-space-m);
    padding: 0;
}

#home-stats .stats-title {
    width: 100%;
    color: var(--lumo-primary-color);
    background-color: var(--lumo-primary-contrast-color);
    border-bottom: 2px solid var(--lumo-primary-color);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: var(--lumo-space-s) 0;
}

#home-stats .stats-value {
    text-align: center;
    margin: 0;
    padding: var(--lumo-space-m) 0;
}