#home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    background-color: black;
}

#home-header h1 {
    color: var(--lumo-primary-color);
    font-size: 4em;
    text-align: center;
}

.home-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.home-menu-category {
    text-align: center;
}

.home-menu-tab {
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
    border: 3px solid var(--lumo-primary-color);
    margin: var(--lumo-space-m);
    padding: var(--lumo-space-xl);
}

.home-menu-tab:hover {
    color: var(--lumo-primary-color);
    background-color: var(--lumo-primary-contrast-color);
}

.home-menu-tab vaadin-icon {
    font-size: 1.5em;
}

.home-menu-tab a {
    padding: var(--lumo-space-m) 0;
    font-size: 1.3em;
}