spring:
  application:
    name: simdesk
  profiles:
    active: acc-entrylist, acc-bop
  main:
    banner-mode: off
  flyway:
    enabled: true
  task:
    scheduling:
      pool:
        size: 4
  jackson:
    default-property-inclusion: NON_NULL
    deserialization:
      fail-on-unknown-properties: false
      read-unknown-enum-values-as-null: true
      read-date-timestamps-as-nanoseconds: false
    serialization:
      fail-on-empty-beans: false
      write-dates-as-timestamps: false
    mapper:
      propagate-transient-marker: true
  cache:
    type: caffeine
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
server:
  servlet:
    session:
      persistent: true
      timeout: 24h
  forward-headers-strategy: framework
  shutdown: graceful
management:
  endpoints:
    web:
      exposure:
        include: info, health, caches, metrics, prometheus
    access:
      default: read_only
  metrics:
    enable:
      spring.security: false
      http.server.requests: false
logging:
  level:
    root: INFO
vaadin:
  productionMode: true
  heartbeatInterval: 60
  closeIdleSessions: true
  exclude-urls:
    - /api/**
    - /swagger-ui/**
    - /openapi/**
mybatis:
  configuration:
    lazy-loading-enabled: true
simdesk:
  datasource:
    vendor: ${SIMDESK_DB_TYPE:sqlite}
    url: ${SIMDESK_DB_URL:#{null}}
    username: ${SIMDESK_DB_USERNAME:#{null}}
    password: ${SIMDESK_DB_PASSWORD:#{null}}
  theme: ${SIMDESK_THEME:#{null}}
  community:
    name: ${SIMDESK_COMMUNITY_NAME:#{null}}
  links:
    impressum: ${SIMDESK_IMPRESSUM_URL:}
    privacy: ${SIMDESK_PRIVACY_URL:}
  results:
    folders: ${SIMDESK_ACC_RESULTS_FOLDERS:}
    scan-interval: ${SIMDESK_ACC_RESULTS_SCAN_INTERVAL:PT1M}
    exclude-pattern: ${SIMDESK_ACC_RESULTS_EXCLUDE_PATTERN:}
  openweathermap:
    api-key: ${SIMDESK_OPENWEATHERMAP_API_KEY:#{null}}
  auth:
    admin:
      username: ${SIMDESK_ADMIN_USERNAME:admin}
      password: ${SIMDESK_ADMIN_PASSWORD:#{null}}
  cors:
    allowed-origins: ${SIMDESK_CORS_ALLOWED_ORIGINS}
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    path: /swagger-ui
  api-docs:
    path: /openapi
  paths-to-match:
    - /api/**
---
spring:
  config:
    activate:
      on-profile: "development"
logging:
  level:
    #org.springframework.cache: TRACE
    #org.springframework.security: DEBUG
    #org.springframework.web.socket: DEBUG
    #org.springframework.messaging: DEBUG
    de.sustineo.simdesk: DEBUG
    de.sustineo.simdesk.mybatis: INFO
vaadin:
  productionMode: false
  heartbeatInterval: 60
  closeIdleSessions: false
management:
  endpoints:
    access:
      default: read_only
simdesk:
  cors:
    allowed-origins: "http://localhost"

---
spring:
  config:
    activate:
      on-profile: "discord"
  security:
    oauth2:
      client:
        registration:
          discord:
            client-id: ${SIMDESK_DISCORD_CLIENT_ID}
            client-secret: ${SIMDESK_DISCORD_CLIENT_SECRET}
            clientAuthenticationMethod: client_secret_post
            authorizationGrantType: authorization_code
            scope:
              - identify
              - guilds.members.read
            redirectUri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          discord:
            authorizationUri: https://discord.com/oauth2/authorize
            tokenUri: https://discord.com/api/oauth2/token
            userInfoUri: https://discord.com/api/users/@me
            user-name-attribute: id
simdesk:
  auth:
    discord:
      guild-id: ${SIMDESK_DISCORD_GUILD_ID}
      token: ${SIMDESK_DISCORD_BOT_TOKEN}

