#home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    color: var(--lumo-contrast-10pct);
    border-top: 1px solid var(--lumo-contrast-10pct);
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}

#home-header h1 {
    color: var(--lumo-primary-text-color);
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
}

/* Smartphone */
@media screen and (max-width: 768px) {
    #home-header h1 {
        font-size: 3.5rem;
    }
}

.home-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.home-menu-category {
    text-align: center;
}

.home-menu-button {
    font-size: 1.2rem;
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
    border: 3px solid var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-l);
    display: block;
    margin: var(--lumo-space-m);
    padding: 4rem;
}

.home-menu-button:hover {
    background-color: var(--lumo-primary-color-50pct);
    cursor: pointer;
}

.home-menu-button vaadin-icon {
    font-size: 1.5rem;
}