vaadin-grid::part(row):hover {
    background-color: var(--lumo-contrast-10pct);
}

vaadin-grid::part(font-weight-bold) {
    font-weight: bold;
}

vaadin-grid::part(ranking-car-group-gt3) {
    background-color: var(--lumo-contrast-5pct);
}

vaadin-grid::part(ranking-car-group-gt4) {
    background-color: rgba(38, 38, 96, 0.2)
}

vaadin-grid::part(ranking-car-group-tcx) {
    background-color: rgb(0, 124, 168, 0.2);
}

vaadin-grid::part(ranking-car-group-cup) {
    background-color: rgba(40, 76, 40, 0.3);
}

vaadin-grid::part(ranking-car-group-chl) {
    background-color: rgba(224, 0, 0, 0.2);
}

vaadin-grid::part(ranking-car-group-st) {
    background-color: rgba(152, 138, 0, 0.3);
}

vaadin-grid::part(ranking-podium-first) {
    background-color: rgba(254, 225, 1, 0.3);
}

vaadin-grid::part(ranking-podium-second) {
    background-color: rgba(167, 167, 173, 0.3);
}

vaadin-grid::part(ranking-podium-third) {
    background-color: rgba(167, 112, 68, 0.4);
}

vaadin-grid::part(ranking-dnf) {
    background-color: var(--lumo-error-color-10pct);
}

vaadin-grid::part(invalid-lap) {
    background-color: var(--lumo-error-color-10pct);
}