vaadin-grid::part(ranking-color-gt3) {
    background-color: rgba(255, 255, 255, 0.5);
}

vaadin-grid::part(ranking-color-gt4) {
    background-color: rgba(38, 38, 96, 0.25)
}

vaadin-grid::part(ranking-color-gtc, ranking-color-chl, ranking-color-cup, ranking-color-st) {
    background-color: rgba(245, 126, 0,3);
}

vaadin-grid::part(ranking-color-tcx) {
    background-color: rgb(0, 124, 168, 0.3);
}