vaadin-grid::part(row):hover {
    background-color: var(--lumo-contrast-10pct);
}

vaadin-grid::part(font-weight-bold) {
    font-weight: bold;
}

vaadin-grid::part(car-group-gt3) {
    background-color: var(--car-group-gt3-color);
}

vaadin-grid::part(car-group-gt2) {
    background-color: var(--car-group-gt2-color);
}

vaadin-grid::part(car-group-gt4) {
    background-color: var(--car-group-gt4-color);
}

vaadin-grid::part(car-group-gtc) {
    background-color: var(--car-group-gtc-color);
}

vaadin-grid::part(car-group-tcx) {
    background-color: var(--car-group-tcx-color);
}

vaadin-grid::part(ranking-podium-first) {
    background-color: rgba(254, 225, 1, 0.3);
}

vaadin-grid::part(ranking-podium-second) {
    background-color: rgba(167, 167, 173, 0.3);
}

vaadin-grid::part(ranking-podium-third) {
    background-color: rgba(167, 112, 68, 0.4);
}

vaadin-grid::part(ranking-invalid) {
    background-color: var(--lumo-error-color-10pct);
}

vaadin-grid::part(invalid-lap) {
    background-color: var(--lumo-error-color-10pct);
}

vaadin-grid::part(inactive-bop) {
    color: var(--lumo-contrast-50pct);
}