<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="logzio">
        <!-- Closes gracefully and finishes the log drain -->
        <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

        <appender name="LOGZIO" class="io.logz.logback.LogzioLogbackAppender">
            <logzioUrl>https://listener-eu.logz.io:8071</logzioUrl>
            <token>${SIMDESK_LOGZIO_TOKEN}</token>
            <logzioType>java</logzioType>
            <additionalFields>application=simdesk;</additionalFields>
            <addHostname>true</addHostname>

            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGZIO"/>
        </root>
    </springProfile>

    <springProfile name="!logzio">
        <root level="debug">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>