name: simdesk-docs

on:
  push:
    branches:
      - main
    paths:
      - mkdocs.yml
      - docs/**
      - README.md
      - CREDITS.md
      - CONTRIBUTING.md
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install "mkdocs-material[imaging]" mkdocs-git-revision-date-localized-plugin mkdocs-include-markdown-plugin
      - run: mkdocs gh-deploy --force